<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="Style/stylesheet.css"  media="screen"/>
    <title>Home</title>
</head>
<body>
    <nav class="navi_style">
        <ul>  
           <li><a href="about.html">About</a></li> 
           <li><a href="contact.html">Contact</a></li>
           <li><a href="project.html">Projects</a></li>
        </ul>
    </nav>
    <main>
        <p>Built this site to present and or showcase so new talents and brushing up on others. PLease be patient as it is W.I.P. .</p>
    </main>
</body>
</html>